* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Primary Nav & Hero Section */
header {
    background-color: #1F2937;
    color: white;
}

.logo-and-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 150px;
    gap: 1.5rem;

    @media (max-width: 768px) {
        padding: 1rem;
        justify-content: space-around;
    }
}

.logo {
    font-size: 1.5rem;
    font-style: italic;
}

.logo span {
    font-weight: 800;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(233, 82, 82);
}

.hero-header {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 80px 150px 100px 150px;

    @media (max-width: 768px) {
        gap: 4rem;
        padding: 50px 30px 50px;
    }
}

.hero-header img {
    max-width: 100%;
}

.hero-header h1 {
    margin-bottom: 8px;
}

.hero-header p {
    margin-bottom: 15px;
}

.hero-header button {
    background-color: #3882F6;
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    align-items: center;
    border-style: none;
    border-radius: 8px;
}


/* Features Section */
.cards-section h1 {
    padding: 50px 15px;
    text-align: center;
    font-size: 2.2rem;
}

.cards {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0px 200px;
    text-align: center;
    gap: 30px;

    @media (max-width: 768px) {
        padding: 0 20px;
        flex-wrap: wrap;
    }

    @media (max-width: 944px) and (min-width: 768px) {
        flex-wrap: wrap;
        gap: 2rem;
    }

    @media (max-width: 1200px) and (min-width: 768px) {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .unit-card {
        margin-bottom: 3rem;
    }
}

.cards h3 {
    margin: 10px;
}

.cards img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

/* Reviews Section */
.review {
    margin: 100px 0px;
    background-color: #E5E7EB;
    padding: 100px 300px;

    @media (max-width: 768px) {
        padding: 20px;
    }

    @media (max-width: 1200px) and (min-width: 768px) {
        padding: 4rem;
    }
}

.review p {
    font-size: 1.5rem;
}

.review h3 {
    text-align: end;
    margin-top: 1rem;

    @media (max-width: 768px) {
        /* max-width: 10rem; */
        /* text-align: end; */
    }
}

/* CTA Section */
.CTA-container {
    background-color: #3882F6;
    color: white;
    margin: 2rem;
    padding: 50px 125px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 768px) {
        padding: 20px;
        gap: 1.5rem;
    }
}

.CTA-container button {
    background-color: #3882F6;
    color: inherit;
    padding: 10px;
    border-style: none;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.2rem;
}

/* Footer */
footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
}